<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Columna 1
        </div>

        <div class="col-md-6">
            Columna 2
        </div>
    </div>
</div>