<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresar tarea" #nombre>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="Ingresar descripción de tarea"
                        #descripcion>
                </div>
                <button type="button" class="btn btn-primary"
                    (click)="guardarTarea(nombre.value, descripcion.value)">Guardar</button>
            </form>
        </div>
    </div>
</div>

<hr class="mb-5">
<div *ngIf="tareas.length > 0" class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <app-tarea *ngFor="let tarea of tareas" [tarea]="tarea"></app-tarea>
        </li>
    </ul>

</div>